@{
    ViewBag.Title = "Contact";
}

<div class="mt-2 row">
    <div class="col-md-6 card border-secondary">
        <div class="card-title text-center">Schedule an appointment today!</div>

        <div class="card-body">
            <img class="img-responsive card-img pb-2" src="../../Content/Images/schedule.jpg">
        </div>
    </div>
</div>
