@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-2">
    <div class="col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                Quick Information
            </div>
            <div class="card-body">
                <h6>Location: </h6>
                <p>655 5th Street Phillipsburg, Kansas 67661</p>
                <h6>Hours: </h6>
                <p>8:30 AM - 5:00 PM</p>
                <h6>About us:</h6>
                <p>
                    Phillipsburg Family Eye Care opened on August 26th, 1993
                    and has been treating the people of Nortwest Kansas
                    with knowledge and premium care ever since!
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                Vision Information
            </div>
            <div class="card-body">
                <h6>Services: </h6>
                <p>Quality family eye exams</p>
                <p>State of the art equipment</p>
                <p>Macular degeneration, glaucoma, and cataracts management</p>
                <p>Treatment of minor emergencies and irritated eyes</p>
                <p>Fits all types of contacts, including bifocals</p>
                <p>Free 3 year old screenings</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-2 p-0">
    <div class="card">
        <div class="card-header">Hear from some patients!</div>
        <div class="my-2  mb-1 container-fluid">
            <div class="row flex-row flex-nowrap" style="overflow-x:scroll;">

                <div class="col-md-8 d-flex mb-1">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <p>
                                "Dr. Juenemann is the best! We would never go anywhere else!! The staff is wonderful also!! My daughter is always wanting to get her eyes checked because she loves Ron so much!! They also have a great great great family! We are lucky to have the Juenemanns in our small town!!!"
                            </p>
                            <footer class="blockquote-footer">Amber Keesee</footer>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 d-flex mb-1">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <p class="p-1">
                                Excellent service! Friendly staff, always ready to help with any problem with my glasses, Dr Juenemann always takes time and explains everything ! Wouldn't go anywhere else
                            </p>
                            <footer class="blockquote-footer">
                                Brenda Chanley
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 d-flex mb-1">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <p>
                                Dr. Ron and staff are the best. We are so blessed to have a Doctor of Optometry of his quality here in small town America. They are up to date with their technology and make you feel important and well cared for. Dr. Juenemann is Rockin' Awesome!
                            </p>
                            <footer class="blockquote-footer">
                                Tory Tipp
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>