@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron pt-1 pb-3 my-0">
    <h1>Phillipsburg Family Eye Care</h1>
    <p class="lead">Dr. Ron Juenemann has been providing high quality eye care since 1993!</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="#">About</a>
            <a class="nav-item nav-link" href="#">Connect</a>
            <a class="nav-item nav-link" href="#">Services</a>
        </div>
    </div>
</nav>